*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../assets/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-position:   center ;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Red Hat Display";
}
.app{
    min-width: 320px;
    height: 90vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        width: 90%;
        max-width: 450px;
        height: 90%;
        background-color: hsl(225, 100%, 98%);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 10px 30px hsl(223, 47%, 23%);
        .hero{
            display: block;
            width: 100%;
            height: 30%;
            border-radius: 8px 8px 0 0;
        }
        .tittle{
            color: hsl(223, 47%, 23%);
            font-weight: 700;
            font-size: 1.5em;
            margin: 20px auto;
        }
        .text{
            padding: 0 30px;
            text-align: center;
            color: hsl(224, 23%, 55%);
            font-size: 15px;
        }
        .plans{
            display: flex;
            justify-content: flex-start;
            text-align: center;
            margin: 20px auto;
            .plan-text-container{
                font-size: 15px;
                padding: 5px;
            }
            a{
                padding: 10px;
                font-size: 12px;
                text-decoration: none;
            }
        }
        .buttons{
            width: 80%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .btn{
                height: 45px;
                border-radius: 8px;
                border: none;
                &:hover{
                    cursor: pointer;
                    
                }
            }
            .btn-principal{
                background-color: hsl(245, 75%, 52%);
                color: hsl(225, 100%, 98%);
                font-size: 15px;
                font-weight: bolder;
            }
            .btn-secondary{
                background-color: hsl(225, 100%, 98%);
                color: hsl(224, 23%, 55%);
                font-size: 15px;
                font-weight: bolder;
            }
        }
    }
}