*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background-color:#2978b5;
    font-family: "Poppins", sans-serif;
    overflow-y:scroll;
    overflow-x: hidden;
}
#app{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 50px;
    align-items: center;
}
#sectionAdd{
    width: 500px;
    min-height: 300px;
    margin: 50px 0;
    background-color: transparent;
    text-align: center;
}
h1{
    margin: 0 50px;
    padding: 20px;
    font-size: 60px;
    color: #2a2f4c;
    border: 2px solid #2a2f4c;
}
.inputDiv{
    width: 80%;
    height: 50px;
    display: flex;
    margin: auto;
    justify-content: center;
    border: 3px solid #333;
    background-color: cornsilk;
}
#newTask{
    border: none;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    border-right: 3px solid #333;
    color: #333;
    font-size: 20px;
    background-color: cornsilk;


}
#newTask:focus{
    outline: none;
}
#buttonAdd{
    width: 50px;
    height: 40px;
    margin: 2px 2px;  
    font-size: 20px;
    font-weight: bolder;
    border: none;
    background-color: cornsilk;
    color: #333;
    
}
#buttonAdd:hover{
    cursor: pointer;
}
#sectionShow{
    width: 500px;
    padding-top: 10px;
    min-height: 300px;
    max-height: 500px;
    margin: 20px auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.taskNode{
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: cornsilk;
    outline: 3px solid #333;
    margin: 10px auto;
    padding-left: 20px;
    font-size: 20px;
}

.buttonDelete{
    width: 80px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    border: 3px solid rgb(200, 39, 71);
    color: cornsilk;
    background-color: rgb(200, 39, 71);
    outline: 3px solid #333;
}
.buttonDelete:hover{
    cursor: pointer;
}
.checkbox{
    color: #1B9AAA;
    background-color: #1B9AAA;
}