
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --blue: #2978b5;
    --grey: #555;
    --white: #fcfcfc;
    --navy: #23283e;
    
}
.app{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    font-family: "poppins";
}
.container{
    min-width: 70%;
    min-height: 400px;
    background-color: var(--white);
    padding: 20px;
    .header-quizz{
        text-align: center;
        margin: 20px 0;
        .tittle{
            font-size: 3rem;
            color: var(--navy);
        }
        .hits{
            font-weight: bold;
            color: #2978b5;
            padding: 10px;
            outline: 1px solid var(--blue);
        }
    }
    .body-quizz{
        .question{
            text-align: center;
            margin: 20px 0;
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--navy);
        }
        .options{
            margin: 0 50px;
            li{
                max-width: 500px;
                list-style: none;
                margin: 20px auto;
                background-color: var(--white);
                height: 35px;
                color: #23283e;
                font-size: 1.2rem;
                &:hover{
                    cursor: pointer;
                }
                
                span:nth-child(1){
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    background-color: var(--blue);
                    color: var(--white);
                    text-align: center;
                    padding: 3px;
                    margin-right: 10px;
                    
                    font-size: 1rem;
                }
            }
            .selected{
                background-color: var(--blue);
                color: var(--white);
                outline: 1px solid var(--blue);
                span:nth-child(1){
                    background-color: var(--white);
                    color: var(--blue);
                }
            }
        }
    }
    .footer-quizz{
        min-width: 50%;
        text-align: center;
        .answer{
            display: none;
            .correct-answer{
                color: var(--navy);
                font-weight: bold;

            }
        }
        .buttons{
            .btn{
                position: relative;
                min-width: 250px;
                height: 40px;
                border: none;
                background-color: transparent;
                color: var(--blue);
                outline: 2px solid var(--blue);
                margin: 10px 0;
                font-weight: bold;
                font-size: 1rem;
                
                
                }
            .btn:before {
                content:"";
                position: absolute;
                top: 0px;
                left: 0px;
                width: 0px;
                height: 100%;
                transition: all .5s ease;
            }
                .btn:hover:before {
                    width: 100%;
                    background-color: #2978b56f;
                }

            #reset-btn{
                display: none;
                margin: 10px auto;

            }
        }

    }
}
